server:
  port: 8080

spring:
  application:
    name: iam-admin-starter
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    default-property-inclusion: non_null

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    # log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 分页插件配置
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql


#### 系统建康状态 #####
management:
  endpoints:
    web:
      exposure:
        include: "*"
  server:
    # 启用独立端口
    port: 50000
    base-path: /
    ssl:
      enabled: false
  metrics:
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      showDetails: always
      probes:
        enabled: true
    shutdown:
      enabled: true
    restart:
      enabled: true
