<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.iam.admin.mapper.IamUserPasswordHisMapper">
      
    <select id="example" resultType="java.lang.Long">
    SELECT
      1 count
    FROM
      DUAL
  </select>

    <select id="selectByUserCodeOrderByCreateTimeDesc" resultType="com.wkclz.iam.common.entity.IamUserPasswordHis">
        SELECT
        id, user_code, password, salt, create_time
        FROM
        iam_user_password_his
        WHERE
        deleted = 0
        AND user_code = #{userCode}
        ORDER BY
        id DESC
        LIMIT #{limit}
    </select>
    
</mapper>

