<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.iam.admin.mapper.IamUserAuthPasswordMapper">


    <select id="selectByUserCode" parameterType="java.lang.String"
            resultType="com.wkclz.iam.common.entity.IamUserAuthPassword">
        SELECT
        id, user_code, password, salt, last_changed_time, version
        FROM
        iam_user_auth_password
        WHERE
        deleted = 0
        AND user_code = #{userCode}
    </select>
    
</mapper>

