<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkclz.iam.sso.mapper.SsoLoginLogMapper">

    <insert id="insertLoginLog" parameterType="com.wkclz.iam.common.entity.IamLoginLog">
        INSERT INTO iam_login_log (
          <trim suffixOverrides=",">
            <if test="authIdentifier != null">auth_identifier,</if>
            <if test="userCode != null">user_code,</if>
            <if test="username != null">username,</if>
            <if test="authType != null">auth_type,</if>
            <if test="loginStatus != null">login_status,</if>
            <if test="message != null">message,</if>
            <if test="ipAddress != null">ip_address,</if>
            <if test="userAgent != null">user_agent,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
          </trim>
        ) VALUES (
          <trim suffixOverrides=",">
            <if test="authIdentifier != null">#{authIdentifier},</if>
            <if test="userCode != null">#{userCode},</if>
            <if test="username != null">#{username},</if>
            <if test="authType != null">#{authType},</if>
            <if test="loginStatus != null">#{loginStatus},</if>
            <if test="message != null">#{message},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="userAgent != null">#{userAgent},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
          </trim>
        )
    </insert>


    <select id="getLoginFaildCountIn1Hour" parameterType="com.wkclz.iam.common.entity.IamLoginLog" resultType="com.wkclz.iam.common.entity.IamLoginLog">
        SELECT
            auth_identifier,
            login_status
        FROM
            iam_login_log
        WHERE
            auth_type = #{authType}
            AND auth_identifier = #{authIdentifier}
            AND create_time > DATE_SUB( NOW(), INTERVAL 1 HOUR )
        ORDER BY
            id DESC
        LIMIT 1
    </select>

</mapper>

